<div class="mt-5">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row mb-5">
            <div class="col-5">
                <select class="form-select" name="task-status" (ngModelChange)="onSubmit()" formControlName="status">
                    <option selected value="ALL">--- Select task status ---</option>
                    <option value="ALL">All</option>
                    <option value="CREATED">To do</option>
                    <option value="IN_PROCESS">In progress</option>
                </select>
            </div>
            <div class="col-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="keyword" placeholder="Search for name  or description ..." formControlName="keyword">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-secondary" id="button-search">Search</button>
            </div>
        </div>
    </form>
    <task-list [tasks]="tasks" (deleteTask)="onDelete($event)"></task-list>
    <app-loading></app-loading>
</div>